html, body
    max-width: 100%

body
    background: #e1e1e1
    margin: 0
    color: #484e47
    font-family: montserrat
    font-weight: lighter
    a
        color: #484e47
        text-decoration: none
        cursor: pointer
    button
        font-family: montserrat
        font-weight: lighter
        font-size: 14px
        outline: none
    p
        font-size: 20px
        text-align: justify
    hr
        margin: 0
    ol, ul
        list-style: none
        padding-inline-start: 0
    h1
        margin-top: 0

.flex
    display: flex
    &-jc
        justify-content: center
    &-jb
        justify-content: space-between
    &-je
        justify-content: space-evenly
    &-end
        justify-content: end
    &-d-col
        flex-direction: column
    &-ac
        align-items: center
    &-wr
        flex-wrap: wrap

.grid
    display: grid
    &-col
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    &-ji
        justify-items: center
    &-ai
        align-items: center
    &-gap
        grid-gap: 5%
    &-cube
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr

::-webkit-scrollbar
    width: 8px
    &-thumb
        background: #484e47
        border-radius: 4px

.header
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 50
    transition: 0.3s
    &:before
        content: ''
        position: absolute
        z-index: 2
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #e1e1e1
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2)
    &-body
        position: relative
        height: 60px
        font-family: montserrat
    &-logo
        position: relative
        z-index: 3
        width: auto
        overflow: hidden
        font-size: 40px
        font-weight: 800
    &-burger
        display: none

    &-list
        position: relative
        z-index: 2
        & li
            margin: 0 0 0 20px
    &-link
        font-size: 20px
        font-weight: 200

.container
    max-width: 80vw
    margin: 0 auto

.field
    display: block
    width: 100%
    height: 100vh
    object-fit: cover

.banner img
    height: 30vh
    margin-top: 60px

.bar
    margin: 2vw 0 0 0

.text
    &-big
        color: white
        font-size: 8rem

    &-small
        color: white
        font-size: 2rem

.container-img
    position: relative
    text-align: center

.centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -30%)
    opacity: 0
    transition: 0.8s

.second
    transform: translate(0px, 20%)
    grid-auto-columns: minmax(200px, auto)
    grid-template-columns: repeat(2, 1fr)
    opacity: 0
    transition: 0.8s
    margin: 5% auto

.left-part
    margin-right: 10%

.chair
    display: block
    width: auto
    height: 30vw
    background: #c4c4c4
    border-radius: 50%

.third
    position: relative
    text-align: center
    color: white
    font-weight: bold

.card
    transition: .5s
    border-radius: 30%
    &s
        margin: 5% auto
    & img
        display: block
        height: auto
        width: 25vw

    &-1
        background: #c59e5f
    &-2
        background: #00455d
    &-3
        background: #33492a

.map
    border-width: 0px

.place-card
    border-radius: 20%

.fa
    font-size: 3vh !important

*
    box-sizing: border-box

body
    position: relative
    font-family: 'Montserrat', sans-serif

section.gallery
    position: relative

.gallery-list
    position: relative
    display: flex
    flex-wrap: wrap
    overflow: hidden
    font-size: 0

.gallery-item
    display: block
    flex: 25%
    overflow: hidden
    position: relative

.gallery-item-hover
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)
    color: #ffffff
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    opacity: 0
    transition: opacity .5s ease
    z-index: 2

.gallery-item
    &:hover
        .gallery-item-hover
            opacity: 1

        img
            transform: scale(1.3) rotate(5deg)

    img
        max-width: 100%
        height: auto
        transition: all .5s ease

.wave-btn
    &-text

    &-waves

footer
    margin: 5vh 10% !important
    border-top: 1px solid #484e47

.footer-block
    margin-right: 50px
    &-name
        font-weight: bold
    &-item
        font-size: 20px
        & li
            margin-right: 10px

._active
    transform: translate(0px, 0px)!important
    opacity: 1!important
    &-anim
        transform: translate(-50%, -50%)!important
        opacity: 1!important

.transition-fade
    transition: 0.4s
    opacity: 1

html.is-animating .transition-fade
    opacity: 0

@media (max-width: 1200px)

    footer
        display: grid !important
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)

@media (max-width: 992px)

    body
        & p
            font-size: 16px

    .card
        width: 100%
        height: auto
        border-radius: 0%
        &s
            margin: 0 auto
            flex-direction: column
            & img
                margin: 0 auto
                height: auto

    .text
        &-big
            font-size: 6rem
        &-medium
            font-size: 3rem
        &-small
            font-size: 1rem

    .cards.container
        max-width: 100%

    .gallery-item
        flex: 33.3%

@media (max-width: 768px)

    .lock
        overflow: hidden

    .header
        &-burger
            position: relative
            z-index: 3
            display: block
            position: relative
            width: 30px
            height: 20px
            &.active
                &:before
                    transform: rotate(-45deg)
                    top: 9px

                & span
                    background-color: transparent

                &:after
                    transform: rotate(45deg)
                    bottom: 9px

            &:before
                content: ''
                position: absolute
                background: #484e47
                width: 100%
                height: 2px
                top: 0
                left: 0
                transition: .3s

            & span
                position: absolute
                background: #484e47
                width: 100%
                height: 2px
                top: 9px
                left: 0
                transition: .3s

            &:after
                content: ''
                position: absolute
                background: #484e47
                width: 100%
                height: 2px
                left: 0
                bottom: 1px
                transition: .3s

        &-menu
            position: fixed
            top: -115%
            left: 0
            width: 100%
            height: 100%
            background: #e1e1e1
            padding: 80px 10px 0px 30px
            transition: .3s
            &.active
                top: 0

        &-list
            flex-direction: column
            & li
                margin: 0 0 20px 0

    .second
        flex-direction: column

    .left-part
        margin: 0

    .card
        & img
            margin: 0 auto
            height: 50vh
            width: auto

    section.gallery
        max-width: 100%

    .gallery-item
        flex: 50%

@media (max-width: 500px)
    body
        min-width: 100vw
        & p
            font-size: 14px

    .text
        &-big
            font-size: 20vw

    .second
        grid-gap: 3%

    .chair
        object-fit: cover
        height: 30vh

    .gallery-item
        flex: 100%

    footer
        display: flex !important
        flex-direction: column
